.menuItem {
  border: solid 1px white;
  float:left;
  padding: 4px;
  background-color: black;
  margin: 0 3px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}